.time-Error {
  font-size: 2vh;
  align-items: center;
  margin-left: 10px;
}
.Over-Error {
  font-size: 2vh;
  align-items: center;
  margin-left: 5%;
}
.Zero-Error {
  font-size: 2vh;
  align-items: center;
  margin-left: 5%;
}
.Error-txt {
  color: red;
}
.Error-hide {
  display: none;
}
.Error-visible {
  display: flex;
}
