/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap'); */

@import "reset.css";
@import "variable.css";

@import "FirstPage/FirstPage.css";

@import "LoginPage/login.css";

@import "SignUp/signUp.css";

@import "mainPage/mainPage.css";
@import "mainPage/setting.css";
@import "mainPage/friends.css";
@import "mainPage/chat.css";
@import "mainPage/notice.css";
@import "mainPage/consumptionAmount.css";

@import "component/rowColumn.css";
@import "component/backBtn.css";
@import "component/topMiddleArea.css";
@import "component/popup.css";
@import "component/textCenter.css";
@import "component/Error.css";

select:focus,
input:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}
