.chatList-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatList-header .chatList-goalArea {
  border: 1px solid black;
  border-radius: 15px;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  font-size: 2vh;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-align-last: center;
}
.Btn-chatList {
  height: 8%;
  border: none;
  background-color: transparent;
}

.chatList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  margin: 5px 5%;
  font-size: 2.25vh;
  width: 90%;
}
.recruitmentCompleted {
  opacity: 0.5;
}

.chatList-row {
  margin: 3px 0;
  width: 100%;
  justify-content: space-between;
}

.chatList-timeTitle {
  width: 20%;
  justify-content: space-between;
}

.chatList-chatid {
  display: none;
}

.chatList-row button {
  border: none;
  background-color: transparent;
}
.chatList-deleteLikeBtnRecruitmentCompleted,
.chatList-deleteLikeBtn {
  font-size: 2.5vh;
  color: red;
}
.chatList-LikeBtnRecruitmentCompleted,
.chatList-LikeBtn {
  font-size: 2.5vh;
}
.chatList-recruitmentCompleted,
.chatList-Entrance {
  position: absolute;
  right: 17%;
  font-size: 2.25vh;
  border: none;
  background-color: var(--button-color);
  border-radius: 10px;
  width: 7vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addChat-EndTime {
  border: none;
}
.border-bottom-red {
  border-bottom: 1px solid red;
}
