.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7%;
  display: flex;
  border-top: 1px solid var(--button-color-click);
  flex-direction: row;
  background-color: var(--main-color);
}

.main-bottom div {
  padding: 10px;
  margin: none;
  width: 33.3%;
}

.main-bottom div button {
  border: none;
  background-color: transparent;
  font-size: 3vh;
  width: 100%;
  height: 100%;
}

.main-bottom div button i {
  /* opacity: 0.3; */
  color: var(--button-color);
}

.main-bottom div button .click {
  color: var(--button-color-click);
  /* opacity: 1; */
}

.hideMy-id {
  display: none;
}
