.notice-closeBtn {
  border: none;
  background-color: transparent;
  font-size: 3vh;
  margin-right: 10px;
}
.notice-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.notice-row {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px 0;
  justify-content: space-between;
  font-size: 2vh;
}
.notice-txt {
  display: flex;
  flex-direction: row;
  width: 65%;
}
.notice-txt .fa-solid {
  width: 15%;
  color: var(--button-color-click);
}
.notice-title {
  width: 20%;
}
.notice-title__txt {
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-date {
  text-align: right;
  width: 35%;
}
