.friendsProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friendsProfile .nickName {
  margin-left: 10px;
}

.main-top {
  display: flex;
  justify-content: space-between;
}