.main-top .functionBtn {
  padding-right: 10px;
}
.main-top .functionBtn button {
  border: none;
  background-color: transparent;
}
.main-top .functionBtn button i {
  font-size: 3vh;
}
.friendsProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friendsProfile .nickName {
  margin-left: 10px;
}
