.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile__column {
  display: flex;
  flex-direction: row;
  padding: 1vh;
}

.profile__column img {
  border-radius: 15px;
  width: 16vw;
  height: 8vh;
}

.profile {
  align-items: center;
}

.profile h2 {
  margin-left: 2vw;
}

.icon {
  margin-right: 1vw;
}

.main-top-gear {
  font-size: 3vh;
}
.setArea {
  font-size: 3vh;
  margin: 10px;
}
.setArea-money {
  border: 1px solid black;
}
.setArea-myMoney {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.setArea-myMoney__txt {
  width: 50%;
  text-align: center;
}
.setArea-myMoney__money {
  width: 50%;
  text-align: center;
}
.setArea-money_btn {
  display: flex;
  justify-content: space-between;
}
.setArea-chargeMoney {
  font-size: 3vh;
  border: none;
  background-color: transparent;
  padding: 10px 0;
  width: 50%;
  text-align: center;
}
.setArea-sendMoney {
  font-size: 3vh;
  border: none;
  background-color: transparent;
  padding: 10px 0;
  width: 50%;
  text-align: center;
}
.setArea-announcement {
  padding: 10px 0;
  border: none;
  font-size: 3vh;
  background-color: transparent;
}
.setArea-totalMoney {
  padding: 10px 0;
}
.setArea-logout {
  padding: 10px 0;
  font-size: 3vh;
  border: none;
  background-color: transparent;
}
